body {
    padding-top:0px;
}
p {
    font-size:1.8rem;
}

/**
    UPLOAD PAGE
*/
.form-control-wrapper {
    display: flex;
    flex-direction: column;
}

ul.steps  li {
    line-height: 1;
}

.documents-section div.row-header {
    background-color: #FFF;
    font-weight: bold;
}
    .documents-section div.row-header strong.required {
        color:#D3080C;
    }

    .documents-section div.row-header div {
        background-color: #EAEBED;
        padding: 20px 18px;
    }

.documents-section div.row-data {
    padding: 20px 5px;
}


button.trash {
    background-color: black;
}

.documents-section .row-data svg {
    color: white;
}

.documents-section div.row-data:nth-child(even) {
    background-color: #FFF;
}

.documents-section div.row-data:nth-child(odd) {
    background-color: #EAEBED;
}

/**
    BANNER
*/
.banner-container {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .banner-container.warning {
        background-color: #fff3cd;
    }

    .banner-container.success {
        background-color: #d4edda;
    }

    .banner-container.error {
        background-color: #f8d7da;
    }

    .banner-container.prototype {
        background-color: rgb(242, 242, 242);
    }


.banner {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}
    .banner .bi {
        margin-right:10px;
    }

.banner-text-container {
    margin-left: 20px;
    display: flex
}

.banner-phase {
    background: black;
    color: white;
    font-weight: bold;
    padding: 0px 10px;
    margin-right: 10px;
    text-transform: uppercase;
}

.banner-text {
    padding: 0;
    margin: 0;
}