body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.875rem;
}

/**
    CSF-Colors
*/
.font-color-light-blue {
    color: #1B50B1;
}

/**
    CSF-Headers
*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 1.75rem; 
    margin:30px 0 50px 0;
}

/**
    CSF-Button
*/
button.csf-component {
    font-weight: 600;
    line-height: 19px;
    color: #4A5568;
    background-color: #F7F9FC;
    border: 1px solid #4A5568;
    border-radius: 3px;
    padding:6px;
}

    button.csf-component i {
        margin-right: 5px;
    }

/** 
    CSF-Toggle-Button 
*/
section.csf-toggle-button-container {
    color: #1B50B1;
    display: inline-flex;
    border: 1px solid #CBD5E0;
    box-sizing: border-box;
    border-radius: 3px;
    background: #1B50B1;
}
input[type="radio"].csf-toggle-button {
    display:none;
}
    input[type="radio"].csf-toggle-button + label {
        background: #FFFFFF;
        padding: 5px 10px;
        font-weight: 700;
        margin: 0;
    }
    input[type="radio"].csf-toggle-button:checked + label {
        background: #E2E8F0;
    }

/**
    CSF-Flex-Table
*/

section.csf-flex-button-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin:30px 0;
}

    section.csf-flex-button-group button {
        margin-right: 10px;
    }

    section.csf-flex-button-group button:last-child {
        margin:0px;
    }

section.csf-flex-table {
    display: flex;
    flex-direction: column;
}

    section.csf-flex-table section.csf-flex-table-header,
    section.csf-flex-table section.csf-flex-table-body {
        display: flex;
        justify-content: space-around;
    }

    section.csf-flex-table section.csf-flex-table-header {
        flex-direction: row;
        font-weight: bold;
        background: #E2E8F0;
        border: 1px solid #CBD5E0;
        color: #4D5D6C;
    }

    section.csf-flex-table section.csf-flex-table-body {
        flex-direction:column;
        color: #4D5D6C;
        font-weight: 600;
    }

        section.csf-flex-table section.csf-flex-table-body section,
        section.csf-flex-table section.csf-flex-table-body section.csf-flex-table-row-group {
            display: flex;
            flex-direction: row;
            background: #F7F9FC;
            border: 1px solid #CBD5E0;
        }

            section.csf-flex-table section.csf-flex-table-body section.csf-flex-table-row-group {
                flex-direction: column;
                border: 2px solid #1B50B1;
                margin-bottom: 19px;
            }

        section.csf-flex-table div {
            flex-basis: 12.5%;
            padding: 5px 3px;
            text-align: center;
            align-self: center;
        }

        section.csf-flex-table-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

            section.csf-flex-table-footer div.csf-flex-table-footer-results {
                flex-basis: 90%;
                text-align: left;
            }

                section.csf-flex-table-footer div.csf-flex-table-footer-results span:first-child {
                    border-right:2px solid #000;
                    padding-right: 20px;
                }

                section.csf-flex-table-footer div.csf-flex-table-footer-results span:last-child {
                    padding-left: 20px;
                }

                section.csf-flex-table-footer div.csf-flex-table-footer-results input[type="number"] {
                    font-weight: 800;
                    width: 50px;
                }

            section.csf-flex-table-footer div.csf-flex-table-footer-paging {
                flex-basis: 10%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }

                section.csf-flex-table-footer div.csf-flex-table-footer-paging a {
                    color: #4A5568
                }

                section.csf-flex-table-footer div.csf-flex-table-footer-paging a:hover {
                    text-decoration: none;
                }

                    section.csf-flex-table-footer div.csf-flex-table-footer-paging a.active,
                    section.csf-flex-table-footer div.csf-flex-table-footer-paging a:hover {
                        border-bottom: 2px solid #1A202C;
                    }

/**
    CSF-Tab
*/
section.csf-tab-button-group {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #CBD5E0;
}

button.csf-tab-button {
    text-transform: capitalize;
    background: #E2E8F0;
    font-weight: 600;
    color: #000000;
    padding: 10px;
    border: 0;
    margin-right:15px;
}

section.csf-tab-button-group button:last-child {
    margin-right:0;
}


button.csf-tab-button-active {
    color: #1B50B1;
    border-bottom: 4px solid #1B50B1;
    padding-bottom: 6px;
}