<div class="container">
    <div class="card">
        <div class="card-header @HeaderClasses" style="@HeaderStyle">
            @Header
        </div>

        <div class="card-body @BodyClasses" style="@BodyStyle">
            @Body
        </div>
    </div>
</div>

