<div class="container">
    <h2>Basic Card</h2>
    <div class="card">
        <div class="card-header stepper-header">
            <h5>Processing phase</h5>
            <button><CSFFontAwesomeIcon CSFFontAwesomeIconType="CSFFontAwesomeIconType.EDIT" />Edit</button>
        </div>

        <div class="card-body">
            <div class="steps">
                <div class="step">
                    <div class="step-header">
                        <div class="header"><b>Create new request</b></div>
                        <div class="subheader">Hopefully this looks cool</div>
                    </div>
                    <div class="step-content one">
                        <button class="next-btn">Next</button>
                    </div>
                </div>
                <div class="step minimized">
                    <div class="step-header">
                        <div class="header">This is step two!</div>
                        <div class="subheader">The content is a little bigger!</div>
                    </div>
                    <div class="step-content two">
                        <button class="next-btn">Next</button>
                    </div>
                </div>
                <div class="step minimized">
                    <div class="step-header">
                        <div class="header">And finally step three!</div>
                        <div class="subheader">Last but not the least!</div>
                    </div>
                    <div class="step-content three">
                        <button class="close-btn">Close</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

@code {

}
