<a class="csf-edit-action" href="#">
    <CSFFontAwesomeIcon CSFFontAwesomeIconType="CSFFontAwesomeIconType.EDIT" />
    <span>@Text</span>
</a>

@code {
    [Parameter]
    public string Text { get; set; }
} 