<a class="csf-edit-action" @attributes="AdditionalAttributes">
    <CSFFontAwesomeIcon CSFFontAwesomeIconType="CSFFontAwesomeIconType.VIEW" />
    <span>View</span>
</a>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; }
}
