.rz-tabview-title {
    color: #1A202C;
}
.rz-tabview-selected {
    border-top-color: #1B50B1;
}

.rz-paginator-page.rz-paginator-element {
    border: 1px solid #E2E8F0;
    background-color: #FFFFFF;
    color: #4A5568;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    padding-right: 0.6875rem;
    padding-left: 0.6875rem;
}

.rz-paginator-page.rz-state-active {
    color: #1B50B1;
    text-decoration: underline;
    border-color: #E2E8F0;
}

.rz-paginator-first, .rz-paginator-prev, .rz-paginator-last, .rz-paginator-next {
    background-color: #E2E8F0;
    color: #4A5568;
}

.rz-datatable-thead th {
    background-color: #E2E8F0;
    color: #2D3748;
    border-color: #CBD5E0;

}

.rz-datatable-thead th .rz-column-title {
        text-transform: none;
        font-weight: bold;
        font-size: 14px;
}

.rz-tabview-nav .rz-tabview-selected 
{
    border-top-color: #1B50B1;
}

.rz-datatable-odd td {
    background-color: #F7F9FC;
    border-color: #CBD5E0;
    color: #4A5568;
}

.rz-datatable-even td {
    background-color: #FFFFFF;
    border-color: #CBD5E0;
    color: #4A5568;
}

.rz-selectable .rz-datatable-even.rz-state-highlight > td, .rz-selectable .rz-datatable-odd.rz-state-highlight > td {
    background-color: #4B75C1;
    border-color: #CBD5E0;
    color: #FFFFFF;
}

.rz-spinner-button {
    color: #4A5568;
    background-color: #E2E8F0;
    display: none;
}

#gloablSearchButton 
{
    margin-left: 20px;
    margin-right: 20px;
    width: 100px;
    float: right;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #1B50B1;
    color: #FFFFFF;
    border: 1px solid darkblue
}

#createNewRequestButton 
{
    margin-right: 20px;
    background-color: #1B50B1;
    color: #FFFFFF;
    border: 1px solid darkblue;
    width: 210px;
    padding-left: 0px;
    padding-right: 0px;
    float: right;
}
#rz-accordiontab-0, #rz-accordiontab-1, #rz-accordiontab-2 {
    width: 300px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #1B50B1;
    border-width: 0;
    outline: 0px;
}

