@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

a.link-back {
    color: #1A202C;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    margin-top: 65px;
    display: block;
    cursor: pointer;
}

/*
    BASE STYLE OVERRIDES
*/
.top-row[b-cht5mpaqgp] {
    background: #1A202C;
    border: 0;
}
.top-row[b-ussj044e2c] {
    background: #4A5568;
}

.top-row section.header-bar {
    display: flex;
    align-items: center;
}

    .top-row section.header-bar button.notification-button {
        margin-left:40px;
        margin-right:30px;
    }

    a.navbar-brand {
        font-family: 'Nunito Sans' sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 900;
    }
.sidebar[b-cht5mpaqgp] {
    background: #F7F9FC;
}
ul.nav[b-ussj044e2c] {
    margin-top: 30px;
}
.nav-item[b-ussj044e2c] a.active,
.nav-item[b-ussj044e2c] a:hover {
    font-family: 'Nunito Sans' sans-serif;
    font-weight: bold;
    color: #1B50B1;
}
    .nav-item[b-ussj044e2c] a,
    .nav-item[b-ussj044e2c] a:active,
    .nav-item[b-ussj044e2c] a:focus {
        color: #4D5D6C;
    }
/*
    CUSTOM
*/
.nav-item[b-ussj044e2c] a i {
    margin-right: 24px;
}
div.page-layout {
    display: flex;
}
section.csf-page-group {
    padding-right:140px;
}

/* RADZEN OVERRIDES */
.rz-dialog-titlebar {
    background: #1B50B1;
    font-weight: 700;
    color: #fff;
}
    .rz-dialog-titlebar .rzi.rzi-times {
        color:#fff;
    }

/* FLEX - TABS */
.tab-content > .active.flex-tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}