<button class="csf-component">
    @if(this.CSFFontAwesomeIconType.HasValue)
    {
        <CSFFontAwesomeIcon CSFFontAwesomeIconType="this.CSFFontAwesomeIconType.Value" />
    }
    <span>@Text</span>
</button>
