@inherits CSFButton

<a class="csf-component primary" @onclick="@((args) => OnClick(args))">
    @if (this.ChildContent != null)
    {
        @this.ChildContent
    }
    else
    {
        <span>@this.Text</span>
    }
</a>
