<section class="csf-toggle-button-container">
    <input type="radio" class="csf-toggle-button" id="toggle-en" name="toggle" checked><label for="toggle-en">EN</label>
    <input type="radio" class="csf-toggle-button" id="toggle-fr" name="toggle"><label for="toggle-fr">FR</label>
</section>


@code {

}
