@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<ProcessingPhaseComponent>

    <ProcessingPhase>

        <Header>Hello CCIV</Header>
        <Body>
            Welcome merger
        </Body>

    </ProcessingPhase>

    <ProcessingPhase>

        <Header>Hello PLTR</Header>
        <Body>
            Welcome AMC
        </Body>

    </ProcessingPhase>

    <ProcessingPhase>

        <Header>Hello GME</Header>
        <Body>
            Welcome GME
        </Body>

    </ProcessingPhase>

</ProcessingPhaseComponent>

<SurveyPrompt Title="How is Blazor working for you?" />
