@page "/"

<StepperContainer>

    <Stepper>

        <Header>Hello CCIV</Header>
        <Body>
            Welcome merger
        </Body>

    </Stepper>

    <Stepper>

        <Header>Hello PLTR</Header>
        <Body>
            Welcome AMC
        </Body>

    </Stepper>

    <Stepper>

        <Header>Hello GME</Header>
        <Body>
            Welcome GME
        </Body>

    </Stepper>

    <Stepper>

        <Header>Complete</Header>

    </Stepper>

</StepperContainer>

<SurveyPrompt Title="How is Blazor working for you?" />
