<AuthorizeView>
    <Authorized>
        <a href="AzureAD/Account/SignOut" style="color:white; font-size: 16px;font-weight: bold;">Log out</a>
        @if (photoDataString != null)
        {
            <img src="@photoDataString" class="ml-3 mr-3" alt="User profile image" width="35" height="35" style="border-radius: 50%;" />
        }
        <div style="color: white">
            @userDisplayName
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="AzureAD/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>