<AuthorizeView>
    <Authorized>
        <div style="color: white">
            @userDisplayName
            @context.User.Identity.Name
            <a href="AzureAD/Account/SignOut">Log out</a>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="AzureAD/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>