@inherits LayoutComponentBase

<div class="page page-layout">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <section class="header-bar">
                <CSFRadioToggleGroup>
                    <CSFRadioToggleButton Id="EN" Value="EN" IsChecked="true" />
                    <CSFRadioToggleButton Id="FR" Value="FR" />
                </CSFRadioToggleGroup>

                <CSFButton>
                    <CSFFontAwesomeIcon CSFFontAwesomeIconType="CSFFontAwesomeIconType.NOTIFICATION" /> <span>Notifications</span>
                </CSFButton>

                <span style="color:#fff">
                    <CSFFontAwesomeIcon CSFFontAwesomeIconType="CSFFontAwesomeIconType.USER" Size="2" />
                </span>
            </section>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
