@page "/"
@namespace CSF.SRDashboard.Client.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="dcterms.title" content="Choose a secure sign-in option">
    <meta name="dcterms.creator" content="Transport Canada">
    <meta name="dcterms.subject" content="Vessel registration">
    <meta name="dcterms.language" content="English">
    <meta name="dcterms.modified" content="2020-05-29">

    <title></title>
    <base href="/" />
    <!-- Font Awesome JS -->
    <link href="fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet" />
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="css/components.css" rel="stylesheet" />
    <link href="_content/DSD.MSS.Blazor.Components.AddressComplete/lookup.css" rel="stylesheet" />
    <link href="css/spinkit.min.css" rel="stylesheet" />
</head>

<body>
    <!-- the main content -->
    <div>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </div>
    <script src="_content/BlazorInputFile/inputfile.js"></script>
    <script src="_framework/blazor.server.js"></script>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

    <script src="script/apphelper.js"></script>
    <script src="script/bootstrap.js"></script>
    <script type="text/javascript" src="_content/DSD.MSS.Blazor.Components.AddressComplete/lookup.js"></script>
</body>
</html>


