@page "/SeafarerProfile/{Cdn}/AddAttachment"
<div class="AttachmentScreenHeader">
    <div class="row mt-3 mb-3">
        <div class="col-8 bg-white">
            <h3>@this.Applicant.FullName - attachment</h3>
        </div>

        <div class="d-flex justify-content-end align-items-center">
            <button @onclick="HandleCancel" class="btn btn-light mr-3">Cancel</button>
            <button @onclick="uploadToSeafarer" class="btn btn-primary">Save attachment</button>
        </div>
    </div>
</div>
<CSF.SRDashboard.Client.Components.AddDocumentComponent @bind-DocumentForm="this.DocumentForm" AllowMultipleUploads="false" />