@page "/SeafarerProfile/{Cdn}/create-new-request"

<h3>@this.Applicant.FullName - request @this.Cdn</h3>

<div class="mt-3 mb-3" style="border-top: 2px solid #dee2e6"></div>
<div class="col-8">
    <Collapse HeaderTitleTextColor="#FFFFFF" Title="Request information" HeaderBackgroundColor="#1B50B1" IsCollapsable="true">

        <BodyContent>
            <EditForm EditContext="@EditContext">
                <FluentValidationValidator />
                <div class="row">
                    <div class="col-5 d-grid gap-3">
                        <div class="form-group" @onclick="ClearMessages">
                            <FormInputText Label="Candidate Document Number (CDN)" Id="CNDInput" @bind-Value="@Applicant.Cdn" Required="false" />

                        </div>
                    </div>

                </div>
            </EditForm>
        </BodyContent>

    </Collapse>
</div>
