@page "/FindSeafarer"
<h3>Find Seafarer</h3>

<h1>Seafarers</h1>

<div class="">     
    <p>Enter one or more dearch field to view existing seafarers in the system</p>
       
       
    <label for="CDNInput">Candidate Document Number (CDN)</label>
    <input type="text" class="form-group" id="CNDInput" @bind="CDNValue" />
    <label for="LastNameInput">Last Name</label>
    <input type="text" class="form-group" id="LastNameInput" @bind="LastName" />
    <label for="FirstNameInput">First Name</label>
    <input type="text" class="form-group" id="FirstNameInput" @bind="FirstName"/>
    <label for="DobInput">Date of birth</label>
    <input type="date" class="form-text" id="DobInput"  @bind="DOB" />
       
    <button class="btn-primary" @onclick="OnClick">Search</button>
   
</div>


@code {
    private string CDNValue { get; set; }
    private string LastName { get; set; }
    private string FirstName { get; set; }
    private DateTime DOB { get; set; }

    private void OnClick()
        {
        Console.Write("button");
        }

}
