@page "/"
@inject CSF.SRDashboard.Client.Services.IMtoaArtifactService artifactService
@using Utilities

<h1>Request Board</h1>

<CSFTabControl>
    <TabPages>
        <CSFTabPage Text="In progress">

        </CSFTabPage>
        <CSFTabPage Text="on hold">

        </CSFTabPage>
        <CSFTabPage Text="completed">

        </CSFTabPage>
        <CSFTabPage Text="not submitted">

        </CSFTabPage>
        <CSFTabPage Text="new requests">

        </CSFTabPage>
    </TabPages>
</CSFTabControl>

<section class="csf-page-group">
    <section class="csf-flex-button-group">
        <CSFButton>
            <CSFFontAwesomeIcon CSFFontAwesomeIconType="CSFFontAwesomeIconType.SEARCH" /> <span>Search</span>
        </CSFButton>
        <CSFButton>
            <CSFFontAwesomeIcon CSFFontAwesomeIconType="CSFFontAwesomeIconType.EDIT" /> <span>Create New Request</span>
        </CSFButton>
        <CSFButton>
            <CSFFontAwesomeIcon CSFFontAwesomeIconType="CSFFontAwesomeIconType.ORDER_DESC" /> <span>Sort</span>
        </CSFButton>
        <CSFButton>
            <CSFFontAwesomeIcon CSFFontAwesomeIconType="CSFFontAwesomeIconType.FILTER" /> <span>Filter</span>
        </CSFButton>
    </section>

    <CSFFlexTable Rows="@this.Rows" />
</section>
@code {
    public List<Row> Rows { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            Utility utility = new Utility(artifactService);
            Rows = utility.FillDashboardRows();
            InvokeAsync(StateHasChanged);
        }
        base.OnAfterRender(firstRender);
    }
}