@page "/SeafarerProfile/{Cdn}"

<a class="btn btn-link text-secondary" href="javascript:history.back()"><i class="fas fa-angle-left"></i>Back to search results</a>
<h3>@this.Applicant.FullName</h3>
<div class="border rounded col-10">

    <div class="bs-component mt-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Summary">Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Requests">Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Documents">Documents</a>
            </li>
        </ul>
        <div id="profileTabs " class="tab-content">

            <div class="tab-pane fade show active" id="Summary">
                <CSF.SRDashboard.Client.Components.Seafarer.SeafarerProfileComponent Applicant="@this.Applicant" />
            </div>
            <div class="tab-pane fade flex-tabs" id="Requests">
                <CSF.SRDashboard.Client.Components.Tables.WorkloadRequest.WorkloadRequestTable />
            </div>
            <div class="tab-pane fade flex-tabs" id="Documents">
                <CSF.SRDashboard.Client.Components.Tables.Dashboard.DashboardTable Applicant="this.Applicant" TableData="@TableData" />
            </div>
        </div>
    </div>
</div>
