@page "/requestdetails/{ServiceRequestId:int}"
@using Models
@using Utilities
@using Components.Notes 

@inject IStringLocalizer<Common> Localizer
@inject DialogService DialogService


<a href="/" class="link-back">
    <CSFFontAwesomeIcon CSFFontAwesomeIconType="CSFFontAwesomeIconType.CHEVRON_LEFT" /> <span>@Localizer["BackToDashboard"]</span>
</a>

<h1>@string.Format("{0}{1}", this.Localizer["RequestNumber"], this.ServiceRequestId)</h1>


<RadzenTabs>
    <Tabs>
        <RadzenTabsItem Text="Summary" Style="color:#1A202C">
            <section style="display:flex; justify-content:space-between; margin-top:53px;">
                <section style="flex-basis:25%;">
                    <CSF.SRDashboard.Client.Components.ProcessingPhase />
                </section>
                <section style="flex-basis:73%; height:25vh;">
                    <CSF.SRDashboard.Client.Components.RequestDetail Model="this.RequestDetailComponentModel" />

                    <br />

                    <CSF.SRDashboard.Client.Components.Attachments />

                    <br />

                    <CSF.SRDashboard.Client.Components.SeafarerDetails Model="RequestDetailsPageData.SeafarerDetails" />

                    <br />

                    <CSF.SRDashboard.Client.Components.MMEDetails Model="this.MMEDetailComponentModel" />

                    <br />

                </section>

            </section>
        </RadzenTabsItem>

        <RadzenTabsItem Text="@Localizer["Notes"]" Style="color:#1A202C">
            <CSF.SRDashboard.Client.Components.Notes.NotesGrid NotesData="this.NotesData" />
        </RadzenTabsItem>


    </Tabs>

</RadzenTabs>

