@page "/requestdetails/{ServiceRequestId:int}"

<a href="/" class="link-back">
    <CSFFontAwesomeIcon CSFFontAwesomeIconType="CSFFontAwesomeIconType.CHEVRON_LEFT" /> <span>Back to dashboard</span>
</a>

<h1>Request #@this.ServiceRequestId</h1>

<CSFTabControl>
    <TabPages>
        <CSFTabPage Text="Summary">
            <section style="display:flex; justify-content:space-between; margin-top:53px;">
                <section style="flex-basis:25%; height:25vh;">
                    <CSF.SRDashboard.Client.Components.ProcessingPhase />
                </section>
                <section style="flex-basis:73%; height:25vh;">
                    <CSF.SRDashboard.Client.Components.RequestDetail Model="this.RequestDetailComponentModel"/>
                    
                    <br />

                    <CSF.SRDashboard.Client.Components.Attachments />
                </section>

            </section>
        </CSFTabPage>
        <CSFTabPage Text="Notes">

        </CSFTabPage>
    </TabPages>
    <TabPageEndContent>
        <span class="badge-pill">Status: In progress</span>
    </TabPageEndContent>
</CSFTabControl>