@page "/WorkloadRequests"
<h2>Request board</h2>
<div class="border rounded px-3 py-2">
    <CSF.SRDashboard.Client.Components.Tables.WorkloadRequest.WorkloadRequestTable></CSF.SRDashboard.Client.Components.Tables.WorkloadRequest.WorkloadRequestTable>
</div>
