body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.875rem;
}

/**
    CSF-Colors
*/
.font-color-light-blue {
    color: #1B50B1;
}

/**
    CSF-Headers
*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
}

/**
    CSF-Button
*/
button.csf-component,
a.csf-profile {
    background-color: transparent;
    border: 1px solid #1b50b1;
    border-radius: .25rem;
    font-size: 1rem;
    line-height:38px;
    height:38px;
    color: #1b50b1;
}

a.csf-profile:hover {
    background-color: #1b50b1;
    text-decoration: none;
    color: #FFFFFF;
}
button.csf-component,
input.csf-toggle-button {
    cursor: pointer;
}

button.csf-component,
a.csf-component {
    font-weight: 600;
    line-height: 19px;
    color: #4A5568;
    background-color: #F7F9FC;
    border: 1px solid #4A5568;
    border-radius: 3px;
    padding: 6px;
    cursor: pointer;
}

    button.csf-component i {
        margin-right: 5px;
    }

    a.csf-component.primary {
        background: #1B50B1;
        color: #fff;
    }

        a.csf-component.primary:hover {
            color: #fff;
        }

/** 
    CSF-Toggle-Button 
*/
section.csf-toggle-button-container {
    color: #1B50B1;
    display: inline-flex;
    border: 1px solid #CBD5E0;
    box-sizing: border-box;
    border-radius: 3px;
    background: #1B50B1;
}

input[type="radio"].csf-toggle-button {
    display: none;
}

    input[type="radio"].csf-toggle-button + label {
        background: #FFFFFF;
        padding: 5px 10px;
        font-weight: 700;
        margin: 0;
    }

    input[type="radio"].csf-toggle-button:checked + label {
        background: #E2E8F0;
    }

/**
    CSF-Flex-Table
*/

section.csf-flex-button-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 30px 0;
}

    section.csf-flex-button-group button {
        margin-right: 10px;
    }

        section.csf-flex-button-group button:last-child {
            margin: 0px;
        }

section.csf-flex-table {
    display: flex;
    flex-direction: column;
}

    section.csf-flex-table section.csf-flex-table-header,
    section.csf-flex-table section.csf-flex-table-body {
        display: flex;
        justify-content: space-around;
    }

    section.csf-flex-table section.csf-flex-table-header {
        flex-direction: row;
        font-weight: bold;
        background: #E2E8F0;
        border: 1px solid #CBD5E0;
        color: #4D5D6C;
    }

    section.csf-flex-table section.csf-flex-table-body {
        flex-direction: column;
        color: #4D5D6C;
        font-weight: 600;
    }

        section.csf-flex-table section.csf-flex-table-body section,
        section.csf-flex-table section.csf-flex-table-body section.csf-flex-table-row-group {
            display: flex;
            flex-direction: row;
            background: #F7F9FC;
            border: 1px solid #CBD5E0;
        }

            section.csf-flex-table section.csf-flex-table-body section.csf-flex-table-row-group {
                flex-direction: column;
                border: 2px solid #1B50B1;
                margin-bottom: 19px;
            }

    section.csf-flex-table div,
    section.csf-flex-table a {
        flex-basis: 12.5%;
        padding: 5px 3px;
        text-align: center;
        align-self: center;
    }

section.csf-flex-table-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    section.csf-flex-table-footer div.csf-flex-table-footer-results {
        flex-basis: 90%;
        text-align: left;
    }

        section.csf-flex-table-footer div.csf-flex-table-footer-results span:first-child {
            border-right: 2px solid #000;
            padding-right: 20px;
        }

        section.csf-flex-table-footer div.csf-flex-table-footer-results span:last-child {
            padding-left: 20px;
        }

        section.csf-flex-table-footer div.csf-flex-table-footer-results input[type="number"] {
            font-weight: 800;
            width: 50px;
        }

    section.csf-flex-table-footer div.csf-flex-table-footer-paging {
        flex-basis: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

        section.csf-flex-table-footer div.csf-flex-table-footer-paging a {
            color: #4A5568
        }

            section.csf-flex-table-footer div.csf-flex-table-footer-paging a:hover {
                text-decoration: none;
            }

            section.csf-flex-table-footer div.csf-flex-table-footer-paging a.active,
            section.csf-flex-table-footer div.csf-flex-table-footer-paging a:hover {
                border-bottom: 2px solid #1A202C;
            }

/**
    CSF-Tab
*/
section.csf-tab-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #CBD5E0;
}

section.csf-tab-button-group {
    display: flex;
    flex-direction: row;
}

button.csf-tab-button {
    text-transform: capitalize;
    background: #E2E8F0;
    font-weight: 600;
    color: #000000;
    padding: 10px;
    border: 0;
    margin-right: 15px;
}

section.csf-tab-button-group button:last-child {
    margin-right: 0;
}


button.csf-tab-button-active {
    color: #1B50B1;
    border-bottom: 4px solid #1B50B1;
    padding-bottom: 6px;
}

/**
    CSF-Stepper Processing phase
*/

.card-header h5 {
    font-size: 20px;
    font-weight: bold;
    color: #1A202C;
}

.steps {
    width: 100%;
    background-color: #FFF;
    padding: 24px 0;
    position: relative;
    margin: auto;
}

    .steps::after {
        content: '';
        position: absolute;
        height: 13px;
        width: 13px;
        background-color: var(--primary-color);
        box-shadow: 0px 0px 5px 0px var(--primary-color);
        border-radius: 15px;
        left: calc(50px / 2);
        transform: translateX(-45%);
        z-index: 2;
    }

.step {
    padding: 0 20px 24px 50px;
    position: relative;
    background-color: #FFF;
}

    .step .step-header {
        user-select: none;
        color: #1B50B1;
        font-size: 16px;
        font-weight: 700;
    }

    .step::before {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: #1b50b1;
        border-radius: 2px;
        left: calc(50px / 2);
        transform: translateX(-45%);
        z-index: 2;
    }

    .step.minimized::before {
        background-color: #CBD5E0;
    }

    .step:last-child .step-content {
        visibility: hidden;
        display: none;
    }

    .step:not(:last-child)::after {
        content: '';
        position: absolute;
        height: calc(100% - 40px);
        width: 1px;
        background-color: #1B50B1;
        left: calc(50px / 2);
        top: 30px;
        z-index: 1;
    }

    .step.minimized:not(:last-child)::after {
        background-color: #CBD5E0;
    }

    .step.minimized {
        background-color: #FFF;
        font-weight: 700;
        color: #CBD5E0;
        cursor: pointer;
    }

        .step.minimized.complete::after,
        .step.minimized.complete::before {
            background-color: #1B50B1;
        }

        .step.minimized .step-header {
            color: #CBD5E0;
        }

        .step.minimized.complete,
        .step.minimized.complete .step-header {
            color: #1B50B1;
        }

.step-content {
    overflow: hidden;
    position: relative;
}

.card-header.stepper-header {
    display: flex;
    justify-content: space-between;
    padding-left: 28px;
    padding-right: 28px;
    background-color: #F7F9FC;
}

.card-header.csf-header {
    display: flex;
    justify-content: space-between;
    padding-left: 28px;
    padding-right: 28px;
    background-color: #F7F9FC;
}

/**
    CSF ACTION BUTTONS
*/
a.csf-edit-action,
a.csf-edit-action:link,
a.csf-edit-action:visited,
a.csf-edit-action:hover {
    color: #1B50B1;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

    a.csf-edit-action span {
        color: #1B50B1;
        margin-left: 5px;
    }

    a.csf-edit-action i {
        color: #1B50B1;
    }

.csf-model-header {
    background-color: #1B50B1;
}

.csf-date-input {
    min-width: 100%;
}
