@inherits BannerBase

@if (this.IsVisible)
{
    <section style="
    position:fixed;
    top:0px;
    left:0px;
    height:80px;
    width:100vw;
    display:flex;
    align-items: center;
    background-color:rgba(255,255,255,0.9);
    z-index:1;
    border-bottom:2px solid black">

        <section style="display:flex; justify-content:space-between; width:95%;">
            <section style="margin-left: 20px; display:flex">
                <div style="background:black; color:white; font-weight:bold; padding:0px 10px; margin-right:10px; text-transform:uppercase;">
                    <span>@Phase</span>
                </div>
                <p style="padding:0; margin:0;">
                    @Message
                </p>
            </section>
            <div style="
            background:black;
            color:white;
            font-weight:bold;
            border-radius:28px;
            width:34px;
            height:34px;
            text-align:center;
            cursor:pointer;" @onclick="(e => this.CloseBanner(e))">
                X
            </div>
        </section>
    </section>
}