<div class="col-8">
    <div class="accordion mt-5" id="AttachmentAcc">
        <div class="row">
            <div class="col-11">
                <p class="mb-0 float-right">Required field<span class="text-danger">*</span></p>
            </div>
        </div>
        <Collapse HeaderTitleTextColor="#FFFFFF" Title="Attachment" HeaderBackgroundColor="#1B50B1" IsCollapsable="true">
            <BodyContent>
                <UploadDocumentComponent @bind-DocumentForm="this.DocumentForm" />
            </BodyContent>
        </Collapse>
    </div>
    <button @onclick="StateHasChanged">click</button>
    @if (this.DocumentForm != null && this.DocumentForm.Count != 0)
    {
<p>@this.DocumentForm.Count</p>
        <Collapse HeaderTitleTextColor="#FFFFFF" Title="Attachment" HeaderBackgroundColor="#1B50B1" IsCollapsable="true">
            <BodyContent>
                 <DocumentInformation DocumentForm="this.DocumentForm"></DocumentInformation>
            </BodyContent>
        </Collapse>
    }
</div>
