<Card HeaderClasses="csf-header">

    <Header>
        <h5>Attachments</h5>
        <CSF.Components.Buttons.Actions.CSFEditButton />
    </Header>

    <Body>

        <CSF.Components.Buttons.Actions.CSFViewButton />
        <div><b>Marine medical examination report</b></div>
        <div>mmereportJohndoe.pdf</div>

        <br />

        <CSF.Components.Buttons.Actions.CSFViewButton />
        <div><b>Provisional medical certificate</b></div>
        <div>ProvisionalcertJohndoe.pdf </div>
    </Body>

</Card>

@code {

}
