<Card HeaderClasses="csf-header">

    <Header>
        <h5>Attachments</h5>
        <CSF.Components.Buttons.Actions.CSFEditButton />
    </Header>

    <Body>
        <div><b>Request type:</b></div>
        <div>Marine medical certificate</div>

        <br />

        <div><b>New or renewal:</b></div>
        <div>Renewal</div>

        <br />

        <div><b>Triage type:</b></div>
        <div>Fast track</div>
    </Body>

</Card>

@code {

}
