<Card HeaderClasses="csf-header">

    <Header>
        <h5>MME details</h5>
        <CSF.Components.Buttons.Actions.CSFEditButton />
    </Header>

    <Body>
        <div><b>Name:</b></div>
        <div>Dr.Wendy Smith</div>

        <br />

        <div><b>MME number:</b></div>
        <div>125</div>

        <br />

        <div><b>Date of expiry:</b></div>
        <div>December 31, 2021</div>
    </Body>

</Card>