<StepperContainer>

    <Stepper>

        <Header>Create new request</Header>
        <Body>
            <div><b>Assigned to:</b></div>
            <div><b>Veronica Lodge</b></div>
            <div>January 4, 2021</div>
        </Body>

    </Stepper>

    <Stepper>

        <Header>Review request</Header>
        <Body>

        </Body>

    </Stepper>

    <Stepper>

        <Header>Review request</Header>
        <Body>

        </Body>

    </Stepper>

    <Stepper>

        <Header>Review request</Header>
        <Body>

        </Body>

    </Stepper>

    <Stepper>

        <Header>Complete</Header>

    </Stepper>

</StepperContainer>

@code {

}
