<div class="row">
    <div class="col-sm-10">
        <div class="bs-component">
            @if (this.searchError.error == PageValidators.errorType.CRITERIA)
            {
                <div class="alert alert-dismissible alert-warning fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                    <h4 class="alert-heading">Enter at least one search criteria</h4>
                    <p class="mb-0">
                        Please provide at least one search criteria.
                    </p>
                </div>
            }
            </div>
    </div>
</div>
