<div class="mt-4 mb-4 ml-4">
    <div class="card d-flex align-items-center @UploadClass" style="height:140px; background:#EEEEEE">

        <i class="fas fa-file-upload fa-5x mt-3 mb-1"></i>
        Drag and drop file here or click to select from your desktop
        <InputFile  id="documentUpload" OnChange="OnFileUpload" >
        </InputFile>
    </div>
</div>
@code{

        [Parameter]
        public IBrowserFile File { get => file; set { if (file == value) return;
                this.file = value;
                FileChanged.InvokeAsync(value);
            }
        }

    private IBrowserFile file;
    string UploadClass = "";

    [Parameter]
    public EventCallback<IBrowserFile> FileChanged { get; set; }

    public void OnFileUpload(InputFileChangeEventArgs e)
    {
        if (e.File != null)
        {
            UploadClass = "border-dashed";
            this.File = e.File;

        }
    }

}