@page "/"

<h1>Request Board</h1>

<CSFTabControl>
    <CSFTabPage Text="in progress">

    </CSFTabPage>
    <CSFTabPage Text="on hold">

    </CSFTabPage>
    <CSFTabPage Text="completed">

    </CSFTabPage>
    <CSFTabPage Text="not submitted">

    </CSFTabPage>
    <CSFTabPage Text="new requests">

    </CSFTabPage>
</CSFTabControl>

<section class="csf-flex-button-group">
    <CSFButton Text="Search" CSFFontAwesomeIconType="@CSFFontAwesomeIconType.SEARCH" />
    <CSFButton Text="Create new request" CSFFontAwesomeIconType="@CSFFontAwesomeIconType.EDIT" />
    <CSFButton Text="Sort" CSFFontAwesomeIconType="@CSFFontAwesomeIconType.ORDER_DESC" />
    <CSFButton Text="Filter" CSFFontAwesomeIconType="@CSFFontAwesomeIconType.FILTER" />
</section>


<section class="csf-flex-table">
    <section class="csf-flex-table-header">
        <div></div>
        <div>Seafarer request #</div>
        <div>First and last name</div>
        <div>CDN</div>
        <div>Request type</div>
        <div>Assigned to</div>
        <div>Service standard</div>
        <div>Processing phase</div>
    </section>

    <section class="csf-flex-table-body">
        <section class="csf-flex-table-row-group">
            <section>
                <div style="color:#1B50B1"><CSFFontAwesomeIcon CSFFontAwesomeIconType="CSFFontAwesomeIconType.VIEW" /> View</div>
                <div>1234567</div>
                <div>John Doe</div>
                <div>123456F</div>
                <div>First-class Engineer Motor Ship</div>
                <div>John Whick</div>
                <div>60 days remaining</div>
                <div>Initial review of submitted request</div>
            </section>
            <section>
                <div style="color:#1B50B1"><CSFFontAwesomeIcon CSFFontAwesomeIconType="CSFFontAwesomeIconType.VIEW" /> View</div>
                <div>1234567</div>
                <div>John Doe</div>
                <div>123456F</div>
                <div>First-class Engineer Motor Ship</div>
                <div>John Whick</div>
                <div>60 days remaining</div>
                <div>Initial review of submitted request</div>
            </section>
        </section>
        <section class="csf-flex-table-row-group">
            <section>
                <div style="color:#1B50B1"><CSFFontAwesomeIcon CSFFontAwesomeIconType="CSFFontAwesomeIconType.VIEW" /> View</div>
                <div>1234567</div>
                <div>John Doe</div>
                <div>123456F</div>
                <div>First-class Engineer Motor Ship</div>
                <div>John Whick</div>
                <div>60 days remaining</div>
                <div>Initial review of submitted request</div>
            </section>
        </section>
    </section>
    <section class="csf-flex-table-footer">
        <div class="csf-flex-table-footer-results">
            <span>Showing 1 to 6 of 25 requests</span>
            <span>Show <input type="number" value="6" /> requests</span>
        </div>
        <div class="csf-flex-table-footer-paging">
            <a href="#"><CSFFontAwesomeIcon CSFFontAwesomeIconType="CSFFontAwesomeIconType.CHEVRON_LEFT" /></a>
            <a class="active" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#"><CSFFontAwesomeIcon CSFFontAwesomeIconType="CSFFontAwesomeIconType.CHEVRON_RIGHT" /></a>
        </div>
    </section>
</section>