@using CSF.Web.Client.TCComponents.Stepper

<li class="@this.Step.cssClass">
    @this.Step.Text
    @if (this.Step.IsComplete)
    {
        <span class="sr-only">completed</span>
    }
    else if (!this.Step.IsComplete && !this.Step.IsActive)
    {
        <span class="sr-only">not completed</span>
    }
</li>

@code {

    [Parameter]
    public IStep Step { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

}
